evaluate
scikit-learn
pytest >= 7.4.0

azureml-core

datasets==2.14.5
mpi4py==3.1.4
sentencepiece==0.1.99
transformers==4.36.0
optimum==1.14.1
accelerate==0.23.0
diffusers==0.18.0
rouge-score==0.1.2
sacrebleu==2.2.1
bitsandbytes==0.41.0
einops==0.6.1
scipy==1.10.0
aiohttp==3.8.5
certifi==2023.07.22
numpy==1.22
peft==0.5.0
deepspeed==0.11.1
